{% extends 'base.html' %}


{% block content %}
<h1>Сайты</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>

            {% for link in urls_list %}
            <tr>
                <td>{{ link[0] }}</td>
                <td>
                    <a href="/urls/{{ link[0] }}">
                        {{ link[1] }}
                    </a>
                </td>
                <td>{{ link[2].strftime('%Y-%m-%d') }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}