{% extends 'base.html' %}


{% block content %}

<h1>Сайт: {{ url[1] }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url[0] }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url[1] }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url[2].strftime("%Y-%m-%d") }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('urls_check', id=url[0]) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>

            {% for check in url_checks %}
            <tr>
                <td>{% if check[0] %} {{ check[0] }} {% endif %}</td>
                <td>{% if check[2] %} {{ check[2] }} {% endif %}</td>
                <td>{% if check[3] %} {{ check[3] }} {% endif %}</td>
                <td>{% if check[4] %} {{ check[4] }} {% endif %}</td>
                <td>{% if check[5] %} {{ check[5] }} {% endif %}</td>
                <td>{{ check[6].strftime("%Y-%m-%d") }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}