{% extends 'base.html' %}


{% block content %}
<h1>Сайты</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>

            {% for link in urls_list %}
            <tr>
                <td>{{ link.id }}</td>
                <td>
                    <a href="/urls/{{ link.id }}">
                        {{ link.name }}
                    </a>
                </td>
                <td>
                    {% if link.created_at %} 
                        {{ link.created_at.strftime('%Y-%m-%d') }}
                    {% endif %}
                </td>
                <td>
                    {% if link.status_code %}
                        {{ link.status_code}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}