<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <title>Document</title>
</head>

<body class="min-vh-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
            <a class="navbar-brand" href="/">Анализатор страниц</a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('urls_list') }}">Сайты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% if messages %}
        {% for alert in messages %}
        <div class="alert alert-{% if alert[0] == 'error' %}danger{% elif alert[0] == 'info' %}info{% else %}success{% endif %}" role="alert">
            {{ alert[1] }}
        </div>
        {% endfor %}
    {% endif %}
    
    <main class="flex-grow-1">
        <div class="container-lg mt-3">
            {% block content %}{% endblock content %}
        </div>
    </main>
    <footer class="border-top py-3 mt-5 flex-shrink-0">
        <div class="container-lg">
            <div class="text-center">
                <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>